::-webkit-scrollbar {
    width: 0;
}

html {
    scrollbar-width: none; // Firefox only
}

#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: change_color($theme-color-secondary, $alpha: 0.2);
}

#scrollbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background-color: $theme-color;
}

#scrollbar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-color;
    filter: blur(10px);
}

#scrollbar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $theme-color;
    filter: blur(30px);
}
